<% include partials/header %>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-border table-hover"> 
                <thead>
                    <th>Nombre</th>
                    <th>Apellido</th>

                </thead>
                <tbody>
                    <% if (data) { %>
                        <% for(var i = 0; i < data.length; i++) { %>
                          <tr>
                            
                            <td><%= data[i].nombre %></td>
                            <td><%= data[i].apellido %></td>
                            
                           
                          </tr>
                        <% } %>
                      <% } %>
                </tbody>
            </table>

        </div>
        <div class="col-md-5">
            <div class="col-md-7">
            <form action="/add" method="post" >
                <div class="form-group">
                <input type="text" name="name" placeholder="name" class="form-cotrol">
            </div>
            <div class="form-gorup">
                <input type="text" name="surname" placeholder="surname" class="form-cotrol">
            </div>
            <button type="submit" class="btn btn-primary">
                save student
            </button>
            </form>
        </div>
        </div>
    </div>
</div>
<% include partials/footer %>
